$space-0: 0;
$space-4: 0.25em;
$space-8: 0.5em;
$space-12: 0.75em;
$space-16: 1em;
$space-20: 1.24em;
$space-24: 1.5em;
$space-32: 2em;
$space-48: 3em;
$space-64: 4em;

$negative-space-4: -0.25em;
$negative-space-8: -0.5em;
$negative-space-16: -1em;
$negative-space-24: -1.5em;
$negative-space-32: -2em;
$negative-space-48: -3em;
$negative-space-64: -4em;
